{% extends 'DemoApplicationBundle::layout.html.twig' %}

{% block body -%}
<h1>Hello World!</h1>
<ul>
    <li><a href="{{path("DemoBlogBundle.Post.index")}}">Blog</a></li>
    <li><a href="{{path("fos_user_registration_register")}}">Register</a></li>
    <li><a href="{{path("fos_user_security_login")}}">Login</a></li>
</ul>
{% endblock %}
