{% extends 'DemoApplicationBundle::layout.html.twig' %}

{% block body -%}
<h1>Blog</h1>

<ul>
    {% for post in posts %}
    <li>
        <h2><a href="{{ path('DemoBlogBundle.Post.show', { 'id': post.id }) }}">{{ post.title }}</a></h2>
        <h3>By {{post.user.username}}</h3>
        <h4>{{post.comments|length}} comment(s)</h4>
    </li>
    {% endfor %}
</ul>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="btn-group">
    <a class="btn" href="{{ path('DemoBlogBundle.Post.new') }}">
        Create a new entry
    </a>
</div>
{% endif %}
{% endblock %}
