{% extends 'DemoApplicationBundle::layout.html.twig' %}

{% block body -%}
<h1>Post creation</h1>

<form action="{{ path('DemoBlogBundle.Post.create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('DemoBlogBundle.Post.index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
