{% extends 'DemoApplicationBundle::layout.html.twig' %}

{% block body -%}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<form action="{{ path('DemoBlogBundle.Post.delete', { 'post': post.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <div class="record_actions btn-group">
        <a class="btn" href="{{ path('DemoBlogBundle.Post.edit', { 'post': post.id }) }}">
            Edit
        </a>
        <button class="btn" type="submit">Delete</button>
    </div>
</form>
{% endif %}

<h1>{{post.title}}</h1>
<h3>By {{post.user.username}}</h3>
<p>{{post.text}}</p>

<h2>Comments</h2>
<ul>
{% for comment in comments %}
    <li>
        <p>By <strong>{{comment.author}}</strong></p>
        <p>{{comment.text}}</p>
    </li>
{% endfor %}
</ul>

{{ knp_pagination_render(comments) }}

{% render(path('DemoBlogBundle.Comment.new', {'post': post.id})) %}
{% endblock %}
