<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
        {% stylesheets
            '@DemoApplicationBundle/Resources/public/css/bootstrap.css'
            '@DemoApplicationBundle/Resources/public/css/bootstrap-responsive.css'
            '@DemoApplicationBundle/Resources/public/css/screen.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock stylesheets %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Demo Blog</a>
                    <div class="nav">
                        <ul class="nav">
                            <li><a href="/post"><i class="icon-home"></i> Blog</a></li>
                        </ul>
                    </div>
                    <div class="nav pull-right">
                        <ul class="nav">
                            {% render(path('DemoApplicationBundle.User.userState')) %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="row">
            <div class="span12">
            {% for type, messages in app.session.flashBag %}
                {% for message in messages %}
                    <div class="alert alert-{{type}}">{{message}}</div>
                {% endfor %}
            {% endfor %}
            {% block body %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
            </div>
        </div>
    </div>
	{% block javascripts %}
		 {% javascripts
			 '@DemoApplicationBundle/Resources/public/js/jquery-1.10.1.min.js'
			 '@DemoApplicationBundle/Resources/public/js/bootstrap.js'
            %}
			 <script src="{{ asset_url }}"></script>
		 {% endjavascripts %}
	 {% endblock javascripts %}
</body>
</html>
