<ul class="nav">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li><a href="{{path("fos_user_security_logout")}}">Logout</a></li>
{% else %}
    <li><a href="{{path("fos_user_registration_register")}}">Register</a></li>
    <li><a href="{{path("fos_user_security_login")}}">Login</a></li>
{% endif %}
</ul>
