{% block body -%}
<h2>Create comment</h2>

<form action="{{ path('DemoBlogBundle.Comment.create', {'post': post.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn" type="submit">Create</button>
    </p>
</form>
{% endblock %}
